<div style="width: 340px; margin: auto;">
	<h2>ubLogin</h2>
	<% form_tag sessions_path do -%>
	<div class="form-outer">
	 <div class="form">
	    <p><label for="email">Email</label><br/>
	    <%= text_field_tag 'email', '', :size => 30 %></p>

	    <p><label for="password">Password</label><br/>
	    <%= password_field_tag 'password', '', :size => 30 %></p>
	  </div>
	</div>
	  <p><%= submit_tag 'Log in' %></p>
	<% end -%>

	<p style="margin-top: 2em;">Don't have an account?  <%=link_to 'Signup now', signup_url%>.</p>
</div>