<% one_column 360 %>
<h3>Reset Password</h3>
<%#= render :partial => "sessions/open_id_form" %>
<!--><br/><-->
<%= error_messages_for :user %>

<% form_tag :action => 'initiate_reset' do -%>

<div class="form-outer">
	<h5>Enter your email address</h5>
	<div class="form">
		<p><label for="email">Email</label><br/>
		<%= text_field_tag :email, '', :size => 30 %></p>
		<p>After you click "Send Email", we will email you a unique link that you can use to reset your password.  That link may only be used once and will expire after 24 hours.</p>
	</div>
</div>
<p><%= submit_tag 'Send Email' %></p>
<% end -%>

