<% content_for("side_links") do -%>
<div id="side_links">
  <p><%= link_to "Corporate Backgrounder", "/Corporate_Backgrounder.pdf", :class => "acrobat"%></p>
  <p><%= link_to "Company Fact Sheet", "/Company_Fact_Sheet.pdf", :class => "acrobat"%></p>
</div>
<% end -%>


<h2>About Us</h2>
<p>To address frustrations experienced by traditional search, ubExact developed a new kind of search engine that tackles irrelevant and disorganized content, lack of privacy, inefficiencies and increased competition for advertisers.</p>

<p>ubExact rebuilds the Web into a user-centric library to provide quality results, while making hard-to-memorize web addresses easy to access. ubExact serves users with a fast, intuitive and simple way to search based on:</p>
<ul class="subpage">
<li>user behavior/actions</li>
<li>geo-targeted metro areas (MSAs) and </li>
<li>direct navigation to desired brands</li>
</ul>

<p>Users are frustrated with the time and hassle of wading through pages of search results that do not always take them precisely where they want to go. Algorithmic search engine results are too broad, disorganized, not user-friendly, and filled with spam, unwanted ads and dead links. Traditional search engines are also using their algorithms to build relevance at the expense of user privacy. </p>

<p>At the same time, search advertisers are battling fiercely for priority position by purchasing scores of keyword terms in an effort to maximize search engine optimization, which does not always reap visibility with desired audiences. This extreme competitive climate within search engine advertising limits a brand from reaching key audiences, and its ability to speak for itself because of all the competing and irrelevant clutter. </p>

<p>ubExact combines the powerful capabilities of direct navigation search technology and the convenience of directory categories. The outcome is drastically improved result relevance, secured privacy, content localization, micro-targeting, speed, ease, and organization of search results. We also provide increased ROI opportunities for advertisers. We believe our patent-pending search and history-tracking technology can revolutionize search and solve many user frustrations.</p>

<h3 class="subpage">How?</h3>

<p>With our horizontal universal architecture, users can go to &quot;ubexact.com&quot; and type their search criteria in the search box, or select a popular search category or MSA, to access human-edited search results. &quot;ubexact.com&quot; provides intuitive tools, including maps, searching by action such as See It, Do It, Shop It, Find It,<span class="sup">SM</span> and suggested topics to help define search criteria and direct users to results.</p>

<p>In addition, users can use their web browser address bar to intuitively navigate to desired website addresses without having to memorize them. Users simply type &quot;<b>ubexact</b>yourtopic<b>.com</b>&quot; or &quot;<b>ubexact</b>yourlocationmsa<b>.com</b>&quot; in their browser to get to the most relevant content. Both ways incorporate the shift of using direct navigation to speed users along, while seeking to eliminate dead links, spam, unwanted ads, as well as alerting users to unanticipated requests for credit card and registration info.</p>

<p>The best way to try ubExact is to check out the popular search categories we outline on &quot;ubexact.com&quot;. We know at launch our indexes will be limited, though we will continue to increase these weekly. And our hope is that users will see the benefits of what our technology can do, and will help us propagate content with the links that are important to them. In fact, the user community is encouraged to participate in our Submit-A-Link(s) program so other users can benefit from their Web-wisdom.</p>

<p>The success of ubExact depends on your feedback – both positive and negative. Capturing this feedback is part of our launch strategy. Thank you for helping us take our technology to a place search has never gone.</p>

<p class="center">&copy;2008 Smart MSA Marketing, Inc. and ubExact</p>