<h2>ubExact Advertising</h2>
<h3>EXCLUSIVE ADVERTISING SOLUTIONS</h3>
<p>ubExact offers exclusive advertising options that are unique to the industry. Through two distinct types of advertising, Preferred Link Ads and Nav Ads, ubExact allows advertisers to target their audience with ground-breaking and effective technology.</p>

<p>Preferred Link Ads utilize traditional keywords in a non-traditional way – with exclusivity of use and a guarantee that ads will appear under relative topics. Nav Ads incorporate a patent pending technology that directly navigates search users to the Web page you want them to reach – right from the address bar, bypassing all results and competitors, just as if the user knew exactly the page on which you wanted them to land.</p>

<h3>How It Works</h3>
<p>ubExact&#39;s search technology provides innovative solutions designed for the new dynamic era in Web advertising. ubExact&#39;s simple keyword phrase purchase model:</p>
<ul class="subpage">
<li>eliminates the need to buy tons of keywords for irrelevant audiences </li>
<li>allows you to leave behind fluctuating pay-per-click models</li>
<li>removes all worries of click fraud</li>
<li>lets you choose specific keyword phrases that align with the most relevant topic fitting your offer and audience. </li>
<li>targets your audience through an entire topic, product or service category </li>
</ul>
<p>For example, if you are in the credit card business, you can place an ad on the keyword phrase &quot; credit cards&quot;  and it will appear as a Preferred Link Ad where the organic search results for &quot; credit cards&quot;  display. Likewise, you can narrow your audience by geographically targeting your ads to reach only those who are looking for &quot; credit cards&quot;  in Florida, or Texas, or any metro service area (MSA).</p>

<h3>Why It Works</h3>
<p>ubExact narrows the field of organic search by providing direct navigation to results for distinct searching communities. ubExact&#39;s highly scalable architecture can:</p>
<ul class="subpage">
<li>respond quickly to deliver audiences for shifting market preferences </li>
<li>provide relevant results WITHOUT requiring (or accepting) excessive keywords </li>
</ul>
<p>The same holds true for ad placement. By pairing only relevant ads with quality organic search results, you:</p>
<ul class="subpage">
<li>attract quality audiences and match their specific search interests</li>
<li>benefit from very specific micro-targeted audiences</li>
<li>minimize keyword purchase requirement </li>
</ul>
<p>Your simple keyword phrase choice requires approval by our ad placement team and is limited to the contextual and conceptual relevancy of your keyword phrase to the results you are targeting.</p>


<h3>ADVERTISER BENEFITS</h3>

<h3>A Better, More Powerful Way to Advertise</h3>
<p>Direct navigation is the absolute quickest link between users and advertisers. ubExact&#39;s proprietary direct navigation architecture allows advertisers to effectively target users with relevant messages. By organizing and categorizing Web content, ubExact weeds out undesired audiences for advertisers, and helps ensure an immediate connection with their target audience, because searchers are initiating the content they actually want to see. ubExact&#39;s program provides:</p>
<ul class="subpage">
<li>exclusivity of keyword phrases for a set term - and the ability to change ad content and URL link through – monthly, if desired</li>
<li>elimination of the need to purchase scores of keywords to increase search results</li>
<li>greater control over advertising budgets by making fluctuating pay-per-click models obsolete – and inherently stopping click fraud</li>
<li>untapped opportunity for advertisers looking to reach niche user communities</li>
<li>level playing field for smaller advertisers as well as those without .com suffixes to more effectively compete</li>
<li>weeding out of undesired audiences through more effective categorization of Web content – the people seeing your message are the ones you want to reach</li>
<li>direct connection with the target audience, minimizing the number of clicks to find your website</li>
<li>enhanced potential for e-business transactions, through Preferred Link Ad full-page advertising</li>
<li>greater ease of getting to your website directly, through keyword-driven Nav Ads</li>
<li>direct linking to designated pages on the advertiser&#39;s website eliminating expensive ad design costs or redesign of home pages to accommodate time-sensitive messages</li>
<li>expansion of an advertiser&#39;s website message into a broader platform</li>
<li>better ROI through a more meaningful way to advertise</li>
</ul>

<h3>AD SPECS AND GUIDELINES</h3>

<h3>Advertising Options</h3>
<p>ubExact has two very simple, but quite distinct, approaches to our keyword phrase ad model:</p>

<h3>1. Preferred Link Ads</h3>

<p>Your ad link appears as a simple title in the highlighted &quot; Preferred Links &amp; Ads&quot;  section of the organic results page: for example, your company name or a short description of your offer (70 characters). When a user clicks on your link, your ad opens to a generous full-page ad (a 600 x 500 pixel ad) which also includes one link to any designated section, or directly to the page of your choice from your website. Displaying a full page ad (the entire space above the fold) lets you present a specific tailored offering conveying meaningful, revenue-generating results targeted to audiences interested in your exact keyword phrase topic.</p>

<h3>Preferred Link Ad Keyword Examples:</h3>
<%= image_tag "Keyword_Examples.jpg" %>
￼


<h3>Preferred Link Ad Specifications</h3>
<ul class="subpage">
<li>Preferred Link Ad copy is limited to 70 characters, including spaces.</li>
<li>There is a maximum of 600 pixel width and 500 pixel height for a Preferred Link Ad (full-page above-the-fold ad).</li>
<li>Preferred Link Ads are allowed one ad link through area (no restrictions on location).</li>
<li>Two week notice required for ad changes during the exclusivity term.</li>
<li>Advertisers have the choice of providing a full-page ad or electing to simply link straight through to a designated page on their website (offered as an additional benefit for budget conscious advertisers or those with no ability to provide digital/graphical ads).</li>
<li>Advertisers have the choice of providing a full-page ad without the requirement of having to own a website, which can indicate advertiser&#39;s address and phone within the full-page ad copy (offered as an additional benefit for providers of goods and services who have yet to have a web presence outside of a mere yellow page directory listing).</li>
</ul>
<h3>2. Nav Ads</h3>

<p>A very limited number of keyword phrases, are available as &quot; direct hit&quot;  ads. This occurs when a search user selects a keyword phrase that our technology determines could be an exact match for your website&#39;s ad. These types of direct navigational ads are extremely limited throughout our architecture and permitted only because of the suitability of your ad. As an example, a Nav Ad keyword phrase might be &quot; July Fourth Destination Weddings&quot; . This Nav Ad link would bypass all results, including any competitive ads, and go directly to the exact page you&#39;ve designated for your ad on &quot; your own website&quot;  just as if the user typed in the exact address of that page in their browser address bar.</p>

<h3>Nav Ad Specifications</h3>

<p>Use of trademarked names not personally owned by you is NOT permitted. Trademarked name usage is reserved exclusively for the owners of trademarks. No Exceptions. Furthermore, trademark owners must agree to an opt-in statement granting utilization of their trademark name for use in their own Nav Ad. Rigorous controls are in place to assure appropriateness of ads before placement is granted.</p>


<h3>RATES AND TERMS</h3>
<%= image_tag "2008_Ad_Fees_Update.jpg" %>


<h3>Payment Terms</h3>
<ul class="subpage">
<li>Full payment is due 10 days in advance of all ad run dates.</li>
<li>Regular advertisers, in good standing, are allowed a 5-day grace period.</li>
<li>Bills unpaid 5 days after due dates are immediately removed and those advertisers lose their first right of refusal for all keyword ad renewals.</li>
</ul>

<h3>Limitations</h3>
<ul class="subpage">
<li>ubExact supports family-safe Web practices and reserves the right to refuse any ad for any reason, stated or unstated.</li>
<li>Keyword phrase ads must not violate Trademark law. Advertiser assumes full responsibility and all financial liability for any breach, including any breach to Trademark owner and to ubExact.</li>
<li>Two week lead time is required for all ads.</li>
<li>Third-party ad server ads are not permitted.</li>
<li>Contracted ad term begins as stated on ad agreement.</li>
<li>All renewals are subject to fee increases at the end of any contract term.</li>
<li>ubExact reserves the right to give &quot; preferred links&quot;  to any vendor.</li>
<li>ubExact reserves the right to change or modify ad rates or ad distribution levels at any time, for any reason, for all ads outside of existing contracts.</li>
</ul>


<h3>GEOGRAPHIC TARGETING</h3>

<p>Advertisers can narrow their audience by geographically targeting ads to specific countries, states or metro service areas (MSAs).</p>

<h3>Examples of Major MSAs (not all-inclusive):</h3>
<p>New York, Los Angeles, Chicago, Washington DC, Boston, San Jose, Philadelphia, Dallas, Houston, Oklahoma City, Atlanta, Miami, Detroit, San Diego, Phoenix, Tucson, Seattle, Columbus OH, Portland OR, Raleigh-Durham NC, Indianapolis, San Antonio, Austin, Las Vegas, Memphis, Nashville, Charlotte, Fort Lauderdale, Denver, El Paso, Tampa-St. Petersburg, Milwaukee, Jacksonville, and many more…</p>

<h3>Examples of Other MSAs (not all-inclusive):</h3>
<p>Scottsdale, Tacoma, Minneapolis, Cleveland, Saint Louis, Orlando, Pittsburgh, Sacramento, Cincinnati, Kansas City, Columbus, Salt Lake City, Greensboro, Louisville, Hartford, Buffalo, Richmond, Birmingham, Albany, Rochester, Dayton, New Orleans, Knoxville, Beverly Hills, Tulsa, Honolulu, Little Rock, Albuquerque, Baton Rouge, Bakersfield, Columbia, Syracuse, Springfield, Des Moines, Charleston, and many more…</p>

<h3>Examples of Country MSAs (not all-inclusive):</h3>
<p>Japan, United Kingdom, France, Norway, China, Germany, Italy, Denmark, The Netherlands, Australia, and many more… Note: Currently, non-U.S. MSAs is limited to &quot; run-of-site&quot;  only. </p>

<p>Note:</p>
<ul class="subpage">
<li>Each &quot; Major MSA&quot;  may include one or more additional specific MSAs, as defined by ubExact, and at the sole discretion of ubExact. Please inquire regarding any specific MSA you are targeting.</li>
<li>Each MSA is defined by population, as defined by the team at ubExact. There are no guarantees regarding the stability of populations in any MSA during the duration of the ad contract. Ad pricing for Population and MSA categorization may change at the end of the ad term.</li>
</ul>

<h3>TRACKING</h3>

<h3>Simplified and Valid Ad Tracking</h3>
<p>ubExact puts the control of tracking ads back in the hands of the advertiser. With our patent-pending technology, users reach your ad because they want to. Your webmaster simply monitors your own website logs to report which referrals have come to you from ubExact. This results in an accurate picture of your ad&#39;s effectiveness. With the elimination of a pay-per-click model, and any need to monitor one, there is no longer any discrepancy between what you as an advertiser are paying for - and what you are getting. </p>

<p>Our entire model at ubExact is devoted to getting users ‘the right answer&#39; they are searching for, while building trust and ensuring privacy. This has been our primary focus during our first phase of development. To attain that goal, our system logfiles are currently deleted every 60 days. We plan to put other measures in place in the very near future that will enable us to provide ongoing raw keyword search data to advertisers without breaching privacy issue concerns of our users. </p>

<p>ubExact&#39;s focus on user privacy enhances our ability to get qualified and targeted user segments to advertisers. We do not dictate what, if any, demographic information an advertiser gathers about visitors once they are on the advertiser&#39;s website. ubExact plays no role in that decision.</p>


<h3>FOR MORE INFORMATION</h3>
<p>You can purchase ads, get assistance with targeting and campaign options, and make payments to Smart MSA Marketing, Inc. by calling (954) 812-0876 Monday – Friday 9:00 am to 6:00 pm Eastern Time, or email questions to ads@ubexact.com</p>

<p>&copy;2008 Smart MSA Marketing, Inc. and ubExact</p>
