<% content_for "page_scripts" do -%>
  <META NAME="ROBOTS" CONTENT="NOINDEX, NOFOLLOW">
<% end -%>

<h2>ubExactor ubExpert Submit Links Program</h2>

<h4>Submit Links Agreement</h4>

<p>If you do not agree to the ubExact&reg; <%= link_to "Privacy Policy Terms Of Use", privacy_path %>, do not complete the ubExactor ubExpert Submit Links registration process. Only users who agree to the ubExact Privacy Policy Terms Of Use are allowed to complete the registration process. If you do not agree to the ubExact Privacy Policy Terms Of Use you are agreeing to not use the ubExact Websites and Services.</p>

<p>This Agreement, including the Privacy Policy Terms Of Use legal notice contains the entire terms and conditions for the Submit Links Agreement (“Agreement”). This Agreement may be modified at any time, without prior notice, and any modification will apply to current and past agreements. ubExactor ubExpert Submit Links Program may be used for lawful purposes only and you must comply with your own state, national and international laws. </p>

<p>Registration requires you to choose a user name and will be used to identify you on the ubExactor ubExpert Submit Links Program pages. You may not have more than one account or one email address for use of the service. By registering, you certify that the email address you provide is accurate and belongs to you. If it does not, we have the option to exclude your submissions and remove you from this program. You agree to immediately notify ubExact at <%= mail_to "submit@ubexact.com" %> of any unauthorized use of your information.</p>

<p>Your email is used by ubExact to notify you of important information to participate in the ubExactor ubExpert Submit Links Program. Occasionally you may receive communication we deem to be of interest or important to submitters. If you do not want to receive these communications, you may notify us by email. If ubExact is notified that your email address is invalid, the content you submitted may not be accepted, your user information may not be posted on ubExact, and you agree not to use ubExact Websites and Services.</p>

<p>Your user name will be used by ubExact to identify you. Therefore, to protect your privacy, you are not allowed to use personal identifiers, such as your email address, URLs, phone numbers, your IP address, place of employment, or website, as your username.</p>

<p>By submitting links and material you grant ubExact, and all its assigns, the perpetual, irrevocable, and worldwide unrestricted right to use your username and content, including publishing, translating, modifying, or in any way reproducing, in any form now-known or hereafter developed. You further agree that the use of ubExact’s ubExactor ubExpert Submit Links Program is on an “as is” basis and you have chosen to use the program at your sole risk.</p>

<p>You may not use the ubExactor ubExpert Submit Links Program for any criminal or illegal activities, including but not limited to, the submission of sexually explicit, pornographic, libelous, violent, profane language, commercial advertising promotions, spam, solicitations, any harmful code or pirating software, registered license agreements or content that violates intellectual property rights or confidentiality of another, or any objectionable or offensive material or content. You also certify that the links you submit do not link to any material or content that does not meet the same content submission policies. </p>

<p>ubExact determines, at its sole discretion, what is a violation of this policy, and may permanently remove or block inappropriate content and terminate your use of ubExact. If you notice other users not following this policy, please notify us by email.</p>

<p>You agree that you will obtain written permission from ubExact before linking any of your own personal content to ubExact. </p>

<p>Submitting links or content does not entitle you to any property rights to ubExact or any ubExact Websites, Contents, or Programs and you may not copy, in content, concept, or organization, any of the ubExactor ubExpert Submit Links Program in perpetuity. </p>

<p>To cancel your participation in the ubExactor ubExpert Submit Links Program, which does not include any content, in any form, that you have provided, with the exception of removing your username contributor information, email ubExact at <%= mail_to "submit@ubexact.com" %> and your publicly viewable information will be removed within 30 days. </p>

<p><%= link_to "Proceed to Registration", signup_path %></p