<h2>Contact Us</h2>
<p>Smart MSA Marketing, Inc.<br/>
	1440 Coral Ridge Drive, Suite 350<br/>
	Coral Springs, FL 33071<br/>
	<%= link_to "www.ubexact.com", "http://www.ubexact.com"%>
</p>
<p>(954) 812-0876 <br/> 
  <%= mail_to "info@ubexact.com" %></p>
