<% content_for "page_css" do -%>
	<style type="text/css">
		div.dialog {
			width: 400px;
			margin: 1em auto 0;
		}
		div.dialog h1 {
			font-size: 18pt;
			text-align: center;
			margin: 0.5em;
		}
	</style>
<% end -%>

<div class="dialog">
	<div id="video">
		
		<object width="425" height="344">
			<param name="movie" value="http://www.youtube.com/v/VtQZpo16ckY&hl=en&fs=1"></param>
			<param name="allowFullScreen" value="true"></param>
			<embed src="http://www.youtube.com/v/VtQZpo16ckY&hl=en&fs=1&autoplay=1" 
				type="application/x-shockwave-flash" allowfullscreen="true" 
				width="425" height="344">
			</embed>
		</object>
		
		<h1>How Does ubExact Work?</h1>
		
	</div>
</div>

