<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
  <title>ubExact.com</title>
	<style type="text/css">
		body { background-color: #fff; color: #65399d; text-align: center; font-family: arial, sans-serif; }
		div.dialog {
			width: 25em;
			padding: 10em 4em;
			margin: 4em auto 0 auto;
			background: transparent url("/images/ubExact-Logo.jpg") no-repeat top center;
		}
		h1 { font-size: 100%; color: #000; line-height: 1.5em; }
	</style>
</head>

<body>
	<%
	  reason = ENV['REASON'] || "maintenance"
	  deadline = (ENV['UNTIL']) ? "by #{ENV['UNTIL']}" : "shortly"
	  now = Time.now.strftime("%H:%M %Z")
	%>

	<div class="dialog">
		<h1>Down for Maintenance</h1>
		<p>As of <%= now %> we're currently down for <%=reason%></p>

		<p>Sorry for the inconvenience.  We'll be back <%=deadline%></p>

	</div>

</body>
</html>