<h2>ubExactor ubExpert Submit Links Program</h2>
<p>ubExact&reg; promotes user community collaboration to deepen the quality, richness and relevance of the results it provides. ubExact has developed a link submission program to engage the user community to expand the ubExact result portfolio of not only popular and credible websites, but those from the Deep Web, which meet the needs of specific, more obscure searching communities.</p>
<div class="ub_icon_expanded">
  <%= image_tag("ubExactor_Icon_thumb.jpg")%>
  <h5>ubExactor</h5>
  <p>submit 40 links<br/>on one or many<br/>topics</p>
</div>
<div class="ub_icon_expanded">
  <%= image_tag("ubExpert_Icon_thumb.jpg")%>
  <h5>ubExpert</h5>
  <p>submit 400 links<br/>on one or many<br/>topics</p>
</div>
<p class="clear_fix">ubExact provides a way to submit a set of links (40) to become a <strong>ubExactor</strong>, or a set of links (400) to become a <strong>ubExpert</strong>.</p>

<p>Please read the <%= link_to "Submit Links Agreement", agreement_path %> before registering to become a ubExactor or ubExpert. If you do not read the Agreement, you will not be able to complete the registration process correctly and your content may not be accepted.</p>

<h4>Program Outline:</h4>
<ol class="outline">
<li>Choose a ubAlias (details outlined in the Agreement). Your ubAlias must be no more than 20 characters.</li>
<li>Provide a valid email (details outlined in the Agreement).</li>
<li>You will be given an activation code via email to login to the ubExactor ubExpert Submit Links Program to submit your links.</li>
<li>After activating your account, you will receive a second email confirming your registration. At that time, you may begin submitting links.</li>
<li>You must first check the links you are submitting to ensure the link does not already exist in the data index, and that it is not blacklisted. If it is, you will not be allowed to submit that specific link. You must provide the entire link (not just the website name). For example: <%= link_to "http://www.ubexact.com", "http://www.ubexact.com"%></li>
<li>If the link is accepted for review, you will be asked to write a very brief description of the links you submit.</li>
<li>The links you submit will be reviewed by ubExact personnel for approval.</li>
<li>To submit links to become a ubExactor you must provide at least 40 unique links. Links must not already be in the ubExact data index. You may provide more than 40 links on the same or different subjects.</li>
<li>To submit links to become a ubExpert you must provide at least 400 unique links. Links must not already be in the ubExact data index. You may provide more than 400 links on the same or different subjects.</li>
<li>Your ubAlias, profile, and number of submitted links will be posted on the public <strong class="really">ubExact User Contributed Hall Of Fame</strong> website.</li>
</ol>