<h2>Suggest A Link</h2>
<%= link_to "Suggest a site", new_site_path %>
<p><b>Per
seacula quarta decima et, quinta decima eodem modo typi qui nunc nobis?
Gothica quam nunc putamus parum claram anteposuerit litterarum formas
humanitatis videntur parum clari fiant sollemnes in. Ut wisi enim ad
minim veniam quis nostrud exerci tation ullamcorper suscipit. Qui facit
eorum claritatem Investigationes demonstraverunt lectores legere. Te
feugait nulla facilisi nam liber tempor cum soluta nobis eleifend
option congue nihil imperdiet. Usus legentis in iis me lius quod ii
legunt saepius claritas est. Nisl ut aliquip ex ea commodo consequat
duis?</b></p><p>Legentis in iis qui facit eorum claritatem
Investigationes demonstraverunt lectores legere me. Etiam processus
dynamicus qui sequitur mutationem consuetudium lectorum mirum.</p>